@font-face {
  font-family: "GothamBook";
  src: url(../fonts/GothamBook.ttf);
}

@font-face {
  font-family: "GothamMedium";
  src: url(../fonts/GothamMedium.ttf);
}

* {
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif; // backup if missing gotham
  font-family: GothamBook, sans-serif;
  background-color: black;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, button, video {
  outline: none !important;
}
