/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

.blur-sat {
    -webkit-backdrop-filter: brightness(200%) saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(20px);
}

.blur-sat-text {
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    filter: brightness(8000%);
}

body {
    font-family: exo-light;
    background-color: #555;
    margin: 0 auto;
    background-image:url(../img/PortfolioBackground.jpg);
	background-size: cover;
}

a {
    text-decoration: none;
}

header h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* NAV */
nav {
    background: rgba(0, 0, 0, 0.4);
    text-align: center; /* This alongside "display: inline-flex;" centers the nav links */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9999;
}

nav li {
    margin-left: 0px;
    display: inline-flex; /* This alongside "text-align: center;" centers the nav links */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover {
    background-color: #111;
    color: #05ffe5;
}

/* ----------------------------------------------------------------------------------- */
main {
    margin: .2vw 0 .2vw 0;
}

#subHeader {
	margin: 90px 0 90px 0;
}

#mainContent_Title h3 { /* Welcome! */
	text-align: center;
    font-family: exo-thin;
    letter-spacing: 1.5px;
	font-size: 50px;
	color: #00cccc;
    margin: 0;
}

#mainContent_Sub1 {
	margin: auto;
}

#mainContent_Sub1 h4 {
	font-size: 25px;
	color: #909090;
	text-align: center;
    font-family: exo-thin;
	margin-top: 25px;
    margin-bottom: 0;
}

/* ----------------------------------------------------------------------------------- */

#videos, #images {
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vw;
}

iframe {
    width: 44.4vw;
    height: 25vw;
}

#images img {
    width: 28.8vw;
}

iframe, #images a {
    margin: 0 3px 6px 3px;
}

/* Force flex wrap break */
break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

footer {
    padding: 18px;
    padding-top: 30px;
    background-color: #363636;
    box-shadow: inset 0 10px 10px #292929;
    font-family: exo-thin;
}

footer h4 {
    color: #00fffc;
    margin: 0;
    margin-bottom: 20px;
    font-weight: lighter;
    border-bottom: 1px #00fffc solid;
    padding-bottom: 5px;
    width: 315px; /* Line divider width */
}

footer p {
    margin-bottom: 0;
    margin-top: 5px;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

footer a {
    color: #55c0cd;
    text-decoration: none;
}

footer section {
    margin-top: 20px;
}

footer a:hover {
    color: #00fffc;
    text-decoration: underline;
}













/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
}

@media only screen and (max-width : 622px) {
    header h1 {
        font-size: 15vw;
    }
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
