/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
/* ------------------------------------- Variables ------------------------------------- */
/* ------------------------------------- Global ------------------------------------- */
#homeLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181818;
  -webkit-transition: .3s;
  transition: .3s;
}

#homeLogo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-transition: .3s;
  transition: .3s;
  width: 43px;
  height: 43px;
  padding: 7px;
}

#homeLogo:hover {
  padding: 13px 0;
}

#homeLogo:hover > div {
  background-color: white;
}

body {
  font-family: arial;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e2e6e7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  width: 100%;
}

.button {
  border-radius: 1.5vw;
  font-size: calc(20px + 3vw);
  padding: 0;
  padding: 1.5vw 2.5vw;
  color: white;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.button-green {
  background-color: #71a344;
}

.button-green:hover {
  background-color: #5b7c35;
}

.button-blue {
  background-color: #7fa5c3;
}

.button-blue:hover {
  background-color: #6b8da3;
}

/* ------------------------------------- Nav ------------------------------------- */
nav {
  background-color: #99c658;
  text-align: center;
}

#navBorder {
  background-color: #7fa5c3;
  height: 12px;
  -webkit-box-shadow: 0px 5px 5px #b8c4cb;
          box-shadow: 0px 5px 5px #b8c4cb;
}

nav a {
  color: #f8f9f9;
}

nav li {
  padding: 10px 0;
}

/* ------------------------------------- Header ------------------------------------- */
header {
  padding: 6vw 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #bcdee3;
}

header h1 {
  color: #212a34;
  font-size: 5vw;
  margin-bottom: 5vw;
}

header svg {
  width: 40px;
  margin: 0 10px;
}

header svg:hover {
  opacity: .7;
}

header img {
  width: 100%;
}

#icons {
  margin-top: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

/* ------------------------------------- Main ------------------------------------- */
#mainImages {
  background-color: #e0edab;
}

main {
  text-align: center;
  /* For button */
}

#logos {
  background-color: #c4e169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3vw 3vw;
}

#logos div {
  margin-bottom: 5vw;
}

.logosRect {
  width: 70vw;
}

.logosSquare {
  width: 40vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 3vw;
  background-color: #e0edab;
}

/* Create three equal columns that sits next to each other */
.column {
  max-width: 30%;
}

.column img {
  margin-top: 3vw;
}

.button {
  margin: 5vw 0;
}

/* ------------------------------------- Footer ------------------------------------- */
footer {
  background-color: #7fa5c3;
  padding: 5vw 5vw;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
}

footer, footer ul {
  color: #f8f9f9;
}

footer a {
  color: #c4e169;
}

footer ul, footer p {
  margin: 10vw 0;
}

footer h2 {
  margin-bottom: -6vw;
}

footer li:nth-child(1) {
  color: #525d68;
}

/* ------------------------------------- Media Queries ------------------------------------- */
@media (min-width: 768px) {
  nav > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navLogo {
    width: 20vw;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80vw;
  }
  header h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #icons {
    margin-top: 10px;
  }
  #mainImages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .logosRect {
    width: 27vw;
  }
  .logosSquare {
    width: 15vw;
  }
  picture {
    margin-left: 3vw;
  }
  footer ul, footer p {
    margin: 4vw 0;
  }
  footer h2 {
    margin-bottom: -2vw;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer p {
    max-width: 26vw;
  }
  footer {
    padding-bottom: 0vw;
  }
}

@media (min-width: 992px) {
  header {
    padding: 3vw 3vw;
  }
  footer ul, footer p {
    margin: 3vw 0;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 0 10vw;
    padding-top: 3vw;
  }
}

/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=sneakPeek.css.map */