body { /* Forces all objects to touch the extreme page borders and not get invisible margins */
	margin: 0;
	background-color: #f48024;
}

nav {
	background-color: #444444;
	height: 80px;
	/* margin: 0 auto; This does nothing apparently */
}

h1 {
	color: #f48024;
	padding: 26px;
	font-family: Helvetica;
}

li {
	list-style-type: none; /* Removes list bullets */
	font-family: Arial;
}

ul {
	margin-top: 25px;
}